.banner-about {    
    width: 80%;
    height: 200px;
    margin: auto;
    margin-top: 3%;
    background-image: url(../assets/img2_section1.png);
    background-repeat:no-repeat;
    background-position:right;   
    background-color: #dfdbdb;
    background-blend-mode: darken;
    border-radius: 25px;        
}

@media screen and (max-width: 767px) {
    .banner-about {
        width: 84%;
        background-image: url(../assets/img2_section1_mobile.png);       
    }
}
