.collapse-cont {
    width:100%;
}

.collapse-closed {
    display: flex;
    justify-content: space-between;
    background: #FF6060;
    border-radius: 5px;    
    margin-top: 5%;
}

.collapse-open {
    background: #f7f7f7;
    border-radius: 5px;  
    padding-left: 2%;
    padding-bottom: 15px;
    padding-right: 2%;
}

.collapse-open-text {
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 2%;
    padding-top: 2%;
    line-height: 140%;
    padding-right: 2%;
}

.collapse-open-text-equip {
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    padding-left: 3%;
    padding-top: 2%;
}

.collapse-text {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    line-height: 190%;
}

.collapse-text-equip {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.collapse-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    background-color: #FF6060;
    color: white;
    font-weight: 900;
    font-size: 22px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-right: 2%;
}

.text-style-normal {
    font-size: 18px;
    line-height: 190%;
}

.text-style-large {
    font-size: 24px;
}

.text-style-small {
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .collapse-closed {
        display: flex;
        justify-content: space-between;
        width: 100%;    
        background: #FF6060;
        border-radius: 5px;    
        margin-top: 5%;   
    }

    .collapse-open-text {
        font-size: 12px; 
        font-weight: 400;
        padding-right: 3%;   
    }

    .collapse-open-text-equip {
        font-size: 12px; 
        font-weight: 400;
        padding-right: 3%;   
    }

    .collapse-text {
        font-size: 13px; 
        padding-left: 3%;   
    }
    
    .collapse-text-equip {
        font-size: 13px; 
        padding-left: 3%;   
    }

    .text-style-normal {
        font-size: 12px;           
    }

    .collapse-arrow {
        font-size: 22px; 
        font-weight: 900;
        padding-right: 3%;   
        border-radius: 5px;
    }
}

