.containerSlides {
   height: 400px;
   margin-top: 2%;
   margin-left: 4%;
   margin-right: 4%;    
}

.containerInfos {
    display: flex;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

.containerInfosL {
    width: 80%;
}

.containerInfosR {
    width: 50%;
    margin: 1% auto;
}

.containerInfosCollapse {
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
}

.containerInfosCollapseDesc {
    width: 50%;   
    display: flex;
    justify-content: flex-start; 
}

.containerInfosCollapseEquip {
    width: 50%;    
    margin-left: 3%;
}

.titreText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    color: #FF6060;
}

.soustitreText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #FF6060;
}

.container-host {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.name-host {
    width: 65%;
    height: 25%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #FF6060;
    text-align: right;
    margin-right: 2%;
}

.img-host {
    margin-left: 2%;
    width: 50px;
    height:50px;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    .containerSlides {
        height: 255px;
        width: 86%;
        margin: 5% auto 1%;
    }

    .containerInfos {
        flex-direction: column;
        width: 86%;
        margin: 1% auto;
    }

    .containerInfosL {
        width: 100%;  
    }

    .containerInfosR {
        width: 100%; 
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;     
        margin-top: 8%;
    }

    .containerInfosCollapse {
        margin: 0% auto 5%;   
        display: block; 
        width: 86%;
    }

    .containerInfosCollapseDesc {
        width: 100%; 
    }

    .containerInfosCollapseEquip {
        width: 100%; 
        margin-left: 0%;
    }

    .titreText {
        font-size: 18px;  
        margin-top: 2%;      
    }

    .soustitreText {
        font-size: 14px;  
        margin-top: 3%;      
    }

    .name-host {
        font-size: 12px;    
    }

    .img-host {
        width: 32px;
        height:32px;
        border-radius: 50%;    
    }
}